/* Hide scrollbar but allow scrolling */
html, body {
    overflow: auto;
  }
  
  /* Hide scrollbar for Chrome, Safari, and Edge */
  ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  /* Hide scrollbar for Firefox */
  body {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  body {
    -ms-overflow-style: none;
  }
  